.section-buy.buy.section .buy__title {
  color: #FFF;
  text-align: center;
  font-family: "neskid";
  font-size: 189.534px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 76px;
  margin-bottom: 20px;
}
@media (max-width: 1300px) {
  .section-buy.buy.section .buy__title {
    font-size: 100px;
    padding-top: 50px;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__title {
    color: #FFF;
    text-align: center;
    font-family: "neskid";
    filter: drop-shadow(1.3222619295px 2.9089763165px 0px rgba(0, 0, 0, 0.25));
    font-size: 50.123px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
  }
}
.section-buy.buy.section .buy__descr {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "neskid";
  font-size: 52.468px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 44px;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__descr {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1.2248220444px 0px rgba(0, 0, 0, 0.25);
    font-size: 16.066px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
  }
}
.section-buy.buy.section .buy__progress {
  width: 90%;
  margin: auto;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__progress {
    width: 100%;
  }
}
.section-buy.buy.section .buy__progress .buy__progress__line {
  width: 100%;
  height: 92px;
  border-radius: 116px;
  background: #FE63C4;
  margin: 0 auto;
  box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  position: relative;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__progress .buy__progress__line {
    height: 24.33px;
  }
}
.section-buy.buy.section .buy__progress .buy__progress__line div {
  width: 0%;
  background: url("/source/progress.jpg");
  height: 100%;
  position: absolute;
  left: 0;
  animation: moveBackground 5s steps(30) infinite;
  transition: all 0.5s;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__progress .buy__progress__line div {
    background: url("/source/progress-mobile.jpg");
  }
}
.section-buy.buy.section .buy__progress .buy__progress__text {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  text-align: center;
  font-family: "neskid";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__progress .buy__progress__text {
    color: #FFF;
    text-align: center;
    font-family: "neskid";
    font-size: 16.925px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.section-buy.buy.section .buy__tcat {
  margin-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__tcat {
    margin-top: 17px;
    padding-bottom: 38px;
  }
}
.section-buy.buy.section .buy__tcat .buy__tcat__image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: url("/source/bgpumbs.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1300px) {
  .section-buy.buy.section .buy__tcat .buy__tcat__image {
    width: 500px;
    height: 512px;
    background-size: contain;
  }
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__tcat .buy__tcat__image {
    width: 305px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-buy.buy.section .buy__tcat .buy__tcat__image.buy__tcat__image_two {
  background: url("/source/bgpubm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__tcat .buy__tcat__image.buy__tcat__image_two {
    width: 175px;
  }
}
@media (max-width: 1300px) {
  .section-buy.buy.section .buy__tcat .buy__tcat__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-buy.buy.section .buy__tcat .buy__tcat__text {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
}
.section-buy.buy.section .buy__tcat .buy__tcat__text .buy__tcat__text__default {
  color: #FFF;
  text-shadow: 5px 9px 0px rgba(0, 0, 0, 0.25);
  font-family: "neskid";
  font-size: 92.159px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .section-buy.buy.section .buy__tcat .buy__tcat__text .buy__tcat__text__default {
    font-size: 40px;
  }
}
.section-buy.buy.section .buy__tcat__text__btns {
  display: flex;
  gap: 34px;
}
@media (max-width: 1300px) {
  .section-buy.buy.section .buy__tcat__text__btns {
    gap: 20px;
  }
}
.section-buy.buy.section .buy__tcat__text__btns button {
  padding: 20px 30px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 96px;
  background: #F09;
  box-shadow: 0px -31px 83px 0px rgba(0, 0, 0, 0.2) inset;
  color: #FFF;
  text-shadow: 2.6194081306px 4.7149348259px 2.0955264568px rgba(0, 0, 0, 0.25);
  font-family: "neskid";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-buy.buy.section .buy__tcat__text__btns button:first-child {
  padding: 20px 100px;
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__tcat__text__btns button:first-child {
    padding: 11px 33px;
  }
}
@media (max-width: 1300px) {
  .section-buy.buy.section .buy__tcat__text__btns button {
    border-radius: 60px;
    font-size: 40px;
    padding: 15px 25px;
  }
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__tcat__text__btns button {
    color: #FFF;
    text-shadow: 1.5522418022px 2.7940354347px 1.2417935133px rgba(0, 0, 0, 0.25);
    font-size: 35.556px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 33px;
  }
}
@media (max-width: 700px) {
  .section-buy.buy.section .buy__tcat__text__btns button img {
    transform: scale(0.5);
  }
}

@keyframes moveBackground {
  0% {
    transition: all 0.5s;
    background-position: 0 0;
  }
  100% {
    transition: all 0.5s;
    background-position: 50rem 0;
  }
}/*# sourceMappingURL=section-buy.css.map */