.section-intro.intro.section {
    button {
        filter: none !important;
    }
    .intro__front {
        padding-top: 150px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 1100px) {
            padding-top: 75px;
        }

        @media(max-width: 990px) {
            padding-top: 20px;
            margin-bottom: 40px;
            justify-content: center;
            gap: 100px;
        }
    }
    .intro__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @media(max-width: 990px) {
            max-width: 300px;
        }
    }
    .intro__img {
        display: flex;
        position: relative;
        .intro__img__front {
            @media(max-width: 1300px) {
                width: 382px;
            }
            @media(max-width: 990px) {
                width: 294px;
            }
            z-index: 1;
        }
        .intro__img__back {
            position: absolute;
            z-index: 0;
            left: -6%;
            @media(max-width: 1300px) {
                left: -3%;
                bottom: -2px;
                width: 388px;
            }
            @media(max-width: 990px) {
                width: 294px;
            }
        }
    }

    .intro__text {
        & > div {
            filter: drop-shadow(5px 11px 0px rgba(0, 0, 0, 0.25));

            @media(max-width: 1000px) {
                filter: none;
            }
            color: #FFF;
            font-family: 'neskid';
            font-size: 172.534px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media(max-width: 1300px) {
                font-size: 130px;
            }
            @media(max-width: 1300px) {
                font-size: 80px;
            }
        }
        span {
            filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
            @media(max-width: 1000px) {
                filter: none;
            }
            color: #FFF;
            text-align: center;
            text-shadow: 0px 4.37000036239624px 0px rgba(0, 0, 0, 0.25);
            font-family: Hey Comic;
            font-size: 32.961px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 618px;

            @media(max-width: 1300px) {
                font-size: 24px;
                text-align: end;
            }

            @media(max-width: 990px) {
                color: #FFF;
                text-align: center;
                text-shadow: 0px 1.327903389930725px 0px rgba(0, 0, 0, 0.25);
                font-family: Hey Comic;
                font-size: 14.016px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        button {
            // filter: drop-shadow(5px 11px 0px rgba(0, 0, 0, 0.25));
            color: #FFF;
            text-shadow: 2.619408130645752px 4.714934825897217px 2.0955264568328857px rgba(0, 0, 0, 0.25);
            font-family: 'neskid';
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 20px;
            border-radius: 96px;
            background: #F09;
            box-shadow: 0px -31px 83px 0px rgba(0, 0, 0, 0.20) inset;
            padding: 19px 100px;
            outline: none;
            border: none;
            align-self: center;
            margin-top: 30px;

            @media(max-width: 1300px) {
                padding: 12px 50px;
                font-size: 30px;
            }
        }
    }

    .intro__front {
        &.two {
            
            .intro__text {
                align-items: inherit;    
                button {
                    align-self: start;
                    margin-top: 70px;
                    @media(max-width: 990px) {
                        margin-top: 20px;
                    }
                }
                div {
                    font-size: 90px;    
                    margin-bottom: 50px;
                    align-self: start;
                    @media(max-width: 1300px) {
                        font-size: 60px;
                    }
                    @media(max-width: 990px) {
                        font-size: 40px;
                        margin-bottom: 15px;
                    }
                }
                .list {
                    // filter: none;
                    color: #FFF;
                    font-family: Hey Comic;
                    font-size: 32.961px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @media(max-width: 1300px) {
                        font-size: 24px;
                    }
                    @media(max-width: 990px) {
                        font-size: 20px;
                    }
                    div {
                        color: #FFF;
                        font-family: Hey Comic;
                        font-size: 32.961px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        @media(max-width: 1300px) {
                            font-size: 24px;
                        }
                        @media(max-width: 990px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}