.section-terms.terms.section {
  padding-bottom: 100px;
}
.section-terms.terms.section .terms__title {
  padding: 82px 0 32px 0;
  color: #FFF;
  font-family: "neskid";
  font-size: 126.709px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 990px) {
  .section-terms.terms.section .terms__title {
    font-size: 80px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .section-terms.terms.section .terms__title {
    color: #FFF;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 23px 0;
  }
}
.section-terms.terms.section .terms__block {
  padding: 94px 67px;
  border-radius: 117.459px;
  background: #FFF;
  box-shadow: 0px 7.0125px 0px 0px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1300px) {
  .section-terms.terms.section .terms__block {
    padding: 50px 30px;
    border-radius: 60px;
  }
}
@media (max-width: 700px) {
  .section-terms.terms.section .terms__block {
    border-radius: 29px;
  }
}
.section-terms.terms.section .terms__block div {
  color: #000;
  text-align: center;
  font-family: Hey Comic;
  font-size: 34.069px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (max-width: 1300px) {
  .section-terms.terms.section .terms__block div {
    font-size: 24px;
  }
}
@media (max-width: 990px) {
  .section-terms.terms.section .terms__block div {
    font-size: 21px;
  }
}
@media (max-width: 700px) {
  .section-terms.terms.section .terms__block div {
    color: #000;
    text-align: center;
    font-family: Hey Comic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.section-terms.terms.section .terms__block span {
  text-align: center;
  color: #000;
  font-family: Hey Comic;
  font-size: 19.328px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .section-terms.terms.section .terms__block span {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .section-terms.terms.section .terms__block span {
    color: #000;
    text-align: center;
    font-family: Hey Comic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.section-terms.terms.section .terms__block p {
  text-align: center;
  color: #000;
  font-family: Hey Comic;
  font-size: 28.391px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .section-terms.terms.section .terms__block p {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .section-terms.terms.section .terms__block p {
    color: #000;
    text-align: center;
    font-family: Hey Comic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.section-terms.terms.section .terms__block button {
  display: block;
  margin-top: 100px;
  margin-bottom: 35px;
  border-radius: 84.15px;
  background: #F09;
  box-shadow: 0px -27.17344px 72.75468px 0px rgba(0, 0, 0, 0.15) inset;
  width: 292px;
  height: 95px;
  color: #FFF;
  font-family: "neskid";
  font-size: 52.594px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1300px) {
  .section-terms.terms.section .terms__block button {
    font-size: 42px;
  }
}
@media (max-width: 700px) {
  .section-terms.terms.section .terms__block button {
    color: #FFF;
    font-family: "neskid";
    font-size: 18.614px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6px 20px;
    max-width: 100px;
    border-radius: 29.782px;
    margin: 30px auto;
    max-height: 30px;
  }
}/*# sourceMappingURL=section-terms.css.map */