.section-intro.intro.section button {
  filter: none !important;
}
.section-intro.intro.section .intro__front {
  padding-top: 150px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .section-intro.intro.section .intro__front {
    padding-top: 75px;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__front {
    padding-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    gap: 100px;
  }
}
.section-intro.intro.section .intro__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__text {
    max-width: 300px;
  }
}
.section-intro.intro.section .intro__img {
  display: flex;
  position: relative;
}
.section-intro.intro.section .intro__img .intro__img__front {
  z-index: 1;
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__img .intro__img__front {
    width: 382px;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__img .intro__img__front {
    width: 294px;
  }
}
.section-intro.intro.section .intro__img .intro__img__back {
  position: absolute;
  z-index: 0;
  left: -6%;
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__img .intro__img__back {
    left: -3%;
    bottom: -2px;
    width: 388px;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__img .intro__img__back {
    width: 294px;
  }
}
.section-intro.intro.section .intro__text > div {
  filter: drop-shadow(5px 11px 0px rgba(0, 0, 0, 0.25));
  color: #FFF;
  font-family: "neskid";
  font-size: 172.534px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1000px) {
  .section-intro.intro.section .intro__text > div {
    filter: none;
  }
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__text > div {
    font-size: 130px;
  }
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__text > div {
    font-size: 80px;
  }
}
.section-intro.intro.section .intro__text span {
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4.3700003624px 0px rgba(0, 0, 0, 0.25);
  font-family: Hey Comic;
  font-size: 32.961px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 618px;
}
@media (max-width: 1000px) {
  .section-intro.intro.section .intro__text span {
    filter: none;
  }
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__text span {
    font-size: 24px;
    text-align: end;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__text span {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1.3279033899px 0px rgba(0, 0, 0, 0.25);
    font-family: Hey Comic;
    font-size: 14.016px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.section-intro.intro.section .intro__text button {
  color: #FFF;
  text-shadow: 2.6194081306px 4.7149348259px 2.0955264568px rgba(0, 0, 0, 0.25);
  font-family: "neskid";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  border-radius: 96px;
  background: #F09;
  box-shadow: 0px -31px 83px 0px rgba(0, 0, 0, 0.2) inset;
  padding: 19px 100px;
  outline: none;
  border: none;
  align-self: center;
  margin-top: 30px;
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__text button {
    padding: 12px 50px;
    font-size: 30px;
  }
}
.section-intro.intro.section .intro__front.two .intro__text {
  align-items: inherit;
}
.section-intro.intro.section .intro__front.two .intro__text button {
  align-self: start;
  margin-top: 70px;
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__front.two .intro__text button {
    margin-top: 20px;
  }
}
.section-intro.intro.section .intro__front.two .intro__text div {
  font-size: 90px;
  margin-bottom: 50px;
  align-self: start;
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__front.two .intro__text div {
    font-size: 60px;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__front.two .intro__text div {
    font-size: 40px;
    margin-bottom: 15px;
  }
}
.section-intro.intro.section .intro__front.two .intro__text .list {
  color: #FFF;
  font-family: Hey Comic;
  font-size: 32.961px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__front.two .intro__text .list {
    font-size: 24px;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__front.two .intro__text .list {
    font-size: 20px;
  }
}
.section-intro.intro.section .intro__front.two .intro__text .list div {
  color: #FFF;
  font-family: Hey Comic;
  font-size: 32.961px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .section-intro.intro.section .intro__front.two .intro__text .list div {
    font-size: 24px;
  }
}
@media (max-width: 990px) {
  .section-intro.intro.section .intro__front.two .intro__text .list div {
    font-size: 20px;
  }
}/*# sourceMappingURL=section-intro.css.map */