.section-intro.intro.section {
    
    .intro__front {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .intro__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .intro__img {
        display: flex;
        position: relative;
        .intro__img__front {
            z-index: 1;
        }
        .intro__img__back {
            position: absolute;
            z-index: 0;
            left: -6%;
        }
    }

    .intro__text {
        div {
            filter: drop-shadow(5px 11px 0px rgba(0, 0, 0, 0.25));
            color: #FFF;
            font-family: 'neskid';
            font-size: 172.534px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        span {
            filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
            color: #FFF;
            text-align: center;
            text-shadow: 0px 4.37000036239624px 0px rgba(0, 0, 0, 0.25);
            font-family: Hey Comic;
            font-size: 32.961px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 618px;
        }
        button {
            filter: drop-shadow(5px 11px 0px rgba(0, 0, 0, 0.25));
            color: #FFF;
            text-shadow: 2.619408130645752px 4.714934825897217px 2.0955264568328857px rgba(0, 0, 0, 0.25);
            font-family: 'neskid';
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 20px;
            border-radius: 96px;
            background: #F09;
            box-shadow: 0px -31px 83px 0px rgba(0, 0, 0, 0.20) inset;
            padding: 19px 100px;
            outline: none;
            border: none;
            align-self: center;
            margin-top: 30px;
        }
    }

    .intro__front {
        &.two {
            .intro__text {
                div {
                    font-size: 90px;    
                }
                .list {
                    color: #FFF;
                    font-family: Hey Comic;
                    font-size: 32.961px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    div {
                        color: #FFF;
                        font-family: Hey Comic;
                        font-size: 32.961px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}