.section-photo.photo.section .photo__title {
  color: #FFF;
  text-shadow: 9.5283021927px 17.1509437561px 0px rgba(0, 0, 0, 0.25);
  font-family: "neskid";
  font-size: 175.624px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 139px;
}
@media (max-width: 700px) {
  .section-photo.photo.section .photo__title {
    color: #FFF;
    text-shadow: 4.1746006012px 7.5142817497px 0px rgba(0, 0, 0, 0.25);
    font-family: "neskid";
    font-size: 76.945px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
}
.section-photo.photo.section .photo__slider {
  margin-top: 65px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 700px) {
  .section-photo.photo.section .photo__slider {
    width: 100%;
    margin-top: 30px;
  }
}
.section-photo.photo.section .photo__slider .photo__slider__arrow-left {
  position: absolute;
  bottom: 43%;
  left: -8%;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .section-photo.photo.section .photo__slider .photo__slider__arrow-left {
    transform: scale(0.5);
  }
}
@media (max-width: 700px) {
  .section-photo.photo.section .photo__slider .photo__slider__arrow-left {
    left: -20%;
    bottom: 30%;
    transform: scale(0.3);
  }
}
.section-photo.photo.section .photo__slider .photo__slider__arrow-right {
  position: absolute;
  bottom: 43%;
  right: -8%;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .section-photo.photo.section .photo__slider .photo__slider__arrow-right {
    transform: scale(0.5);
  }
}
@media (max-width: 700px) {
  .section-photo.photo.section .photo__slider .photo__slider__arrow-right {
    right: -20%;
    bottom: 30%;
    transform: scale(0.3);
  }
}
.section-photo.photo.section .photo__slider .photo__photo__gallery {
  width: 100%;
  border-radius: 83px;
  overflow: hidden;
}
@media (max-width: 1300px) {
  .section-photo.photo.section .photo__slider .photo__photo__gallery {
    height: 568px;
    width: 442px;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .section-photo.photo.section .photo__slider .photo__photo__gallery {
    width: 328.23px;
    height: 385px;
    flex-shrink: 0;
    border-radius: 23.918px;
  }
}
.section-photo.photo.section .photo__slider .photo__photo__gallery img {
  width: 100%;
}
@media (max-width: 1300px) {
  .section-photo.photo.section .photo__slider .photo__photo__gallery img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-photo.photo.section .photo__button {
  border-radius: 96px;
  margin-left: auto;
  margin-right: auto;
  background: #F09;
  box-shadow: 0px -31px 83px 0px rgba(0, 0, 0, 0.2) inset;
  color: #FFF;
  text-shadow: 2.6194081306px 4.7149348259px 2.0955264568px rgba(0, 0, 0, 0.25);
  font-family: "neskid";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 19px 0;
  margin-top: 100px;
  max-width: 307px;
  text-align: center;
  margin-bottom: 140px;
}
@media (max-width: 700px) {
  .section-photo.photo.section .photo__button {
    color: #FFF;
    text-shadow: 1.6606715918px 2.9892089367px 1.3285373449px rgba(0, 0, 0, 0.25);
    font-size: 38.039px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
  }
}/*# sourceMappingURL=section-photo.css.map */