@import 'fonts.scss';
@import 'section-intro.scss';
@import 'section-photo.scss';
@import 'section-buy.scss';
@import 'section-terms.scss';
@import 'section-check.scss';
@import 'section-done.scss';
@import 'section-checkout.scss';

section {
    background: rgba(255, 0, 184, 0.41);
}

body {
    &.loading {
        * {
            transition: none !important;
        }
    }
    background: white;
    position: relative;
    &::after {
        content: '';
        position: fixed;
        width: 1008.593px;
        height: 636.577px;
        flex-shrink: 0;

        border-radius: 40%;
        background: #FFA5A5;
        filter: blur(175px);

        top: 10%;
        left: 0;
        z-index: -1;
    }

    &::before {
        content: '';
        position: fixed;

        width: 1008.593px;
        height: 753.521px;
        flex-shrink: 0;

        border-radius: 40%;
        background: #FFC0A5;
        filter: blur(250px);

        top: 0%;
        right: 0;
        z-index: -1;
    }
}

.container {
    box-sizing: border-box;

    max-width: 1280px;
    margin: 0 auto;

    @media(max-width: 1300px) {
        max-width: 950px;
    }

    @media(max-width: 979px) {
        max-width: 700px;
    }

    @media(max-width: 700px) {
        max-width: 335px;
    }
}

header.header {
    background: #FFF;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Hey Comic';
    .header__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 0;
        @media(max-width: 700px) {
            padding: 12px 0;
        }
    }
    .header__buttons {
        color: #000;
        text-align: center;
        font-family: Hey Comic;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 

        display: flex;
        align-items: center;
        gap: 28px;

        @media(max-width: 700px) {
            color: #000;
            text-align: center;
            font-family: Hey Comic;
            font-size: 7.376px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            gap: 12px;
        }
    }
    .header__flex {
        color: #000;
        text-align: center;
        font-family: Hey Comic;
        font-size: 19.322px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: flex;
        align-items: center;
        gap: 10px;
        &.header__flex_cart {
            cursor: pointer;
            img {
                @media(max-width: 700px) {
                    width: 15.185px;
                    height: 13.45px;
                    flex-shrink: 0;
                }
            }
        }
        p {
            display: flex;
            flex-direction: column;
            @media(max-width: 700px) {
                color: #000;
                text-align: center;
                font-family: Hey Comic;
                font-size: 8.677px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        img {
            @media(max-width: 700px) {
                width: 23.863px;
                height: 25.598px;
                flex-shrink: 0;
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}


footer.footer {
    position: relative;
    z-index: 1;
    padding: 35px 0 60px 0;
    background: #FFF;
    box-shadow: 0px 15px 56px 0px rgba(0, 0, 0, 0.25);
    .footer__right {
        display: flex;
        flex-direction: column;
        gap: 38.8px;
        .footer__buttons {
            display: flex;
            color: #353F48;
            font-family: Montserrat;
            font-size: 14.495px;
            font-style: normal;
            font-weight: 400;
            line-height: 149.9%; /* 21.728px */
            gap: 30px;

            @media(max-width: 990px) {
                font-size: 11px;
            }

            @media(max-width: 700px) {
                gap: 0;
                justify-content: space-between;
                color: #353F48;
                font-family: Montserrat;
                font-size: 11.612px;
                font-style: normal;
                font-weight: 400;
                line-height: 149.9%; /* 17.407px */
            }
        }
        .footer__input {
            input {
                padding-bottom: 16.5px;
                color: #353F48;
                font-family: Montserrat;
                font-size: 21.408px;
                font-style: normal;
                font-weight: 600;
                line-height: 149.9%; /* 32.091px */
                border: none;
                outline: none;
                border-bottom: 1px solid rgba(53, 63, 72, 0.30);

            }
        }
    }
    .footer__text {
        margin-top: 55px;
        color: rgba(0, 0, 0, 0.40);
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 149.9%; /* 17.988px */

        @media(max-width: 700px) {
            color: rgba(0, 0, 0, 0.40);
            text-align: center;
            font-family: Montserrat;
            font-size: 5.531px;
            font-style: normal;
            font-weight: 400;
            line-height: 149.9%; /* 8.291px */
        }
    }
    .footer__flex {
        display: flex;
        justify-content: space-between;
         @media(max-width: 700px) {
            flex-direction: column;
            gap: 15px;
        }
        .footer__logo {
            display: flex;
            flex-direction: column;
            gap: 13px;
            .footer__logo__downtext {
                color: #353F48;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 149.9%; /* 20.986px */
                @media(max-width: 700px) {
                    display: none;
                }
            }
            .footer__logo__inner {
                display: flex;
                gap: 20px; 
                align-items: center;
                .footer__logo__text {
                    color: #000;
                    text-align: center;
                    font-family: Hey Comic;
                    font-size: 19.322px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    flex-direction: column;
                    @media(max-width: 700px) {
                        color: #000; 
                        font-family: Hey Comic;
                        font-size: 13.145px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                img {
                    @media(max-width: 700px) {
                        width: 36.148px;
                        height: 38.777px;
                        flex-shrink: 0;
                    }
                }

                .footer__logo__descr {
                    color: #353F48;
                    font-family: Montserrat;
                    font-size: 11.822px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 191.4%; /* 22.628px */
                    opacity: 0.6;
                    display: flex;
                    flex-direction: column;

                    @media(max-width: 700px) {
                        color: #353F48;
                        font-family: Montserrat;
                        font-size: 7.77px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 191.4%; /* 14.872px */
                    }
                }
            }
        }
    }
}

.cart {
    width: 636px;
    background: #FFF;
    box-shadow: -20px 4px 154px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    
    background: #FFF;
    box-shadow: -20px 4px 154px 0px rgba(0, 0, 0, 0.15);
    transform: translateX(150%);
    transition: transform 1s;
    @media(max-width: 860px) {
        width: 100%;
    }
    &.active {
        transform: translateX(0);
    }
    .cart__close {
        position: absolute;
        left: -110px;
        top: 20px;
        cursor: pointer;
        @media(max-width: 860px) {
            left: inherit;
            right: 32px;
            top: 32px;
        }
        svg {
            &:not(.mobile) {
                @media(max-width: 860px) {
                    display: none;
                }
            }
            &.mobile {
                display: none;
                @media(max-width: 860px) {
                    display: inherit
                }
            }
        }

    }
    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        opacity: 0;
    }
    .cart__inner {
        height: 100vh;
        overflow-y: scroll;
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
            opacity: 0;
        }
        background: #FFF;
        background: #FFF;
        // box-shadow: -20px 4px 154px 0px rgba(0, 0, 0, 0.15);
        max-width: 100%;
        display: flex;
        flex-direction: column;    
        align-items: center;
        @media(max-width: 860px) {
            justify-content: space-between;
        }
        .cart__title {
            color: #000;
            font-family: 'neskid';
            font-size: 90.091px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 25px;
            @media(max-height: 880px) {
                margin-top: 15px;
                font-size: 80px;
            }
            @media(max-width: 860px) {
                color: #000;
                font-family: 'neskid';
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-size: 70px;
            }
        }

        .cart__image {
            margin-top: 30px;
            @media(max-height: 880px) {
                margin-top: 0;
            }
            img {
                max-width: 329px;
                max-height: 337.232px;
                flex-shrink: 0;
                @media(max-height: 880px) {
                    max-width: 229px;
                    max-height: 237.232px;
                }
            }
        }
        
        .cart__input {
            margin-top: 30px;
            display: flex;
            gap: 27px;
            align-items: center;
            @media(max-height: 880px) {
                margin-top: 0;
            }

            span {
                color: #000;
                font-family: 'neskid';
                font-size: 84.333px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @media(max-height: 770px) {
                    font-size: 50px;
                }
                @media(max-width: 860px) {
                    font-size: 35px;
                }
            }

            input {
                max-width: 171.301px;
                height: 77.003px;
                flex-shrink: 0;
                text-align: center;
                color: #000;
                font-family: 'neskid';
                font-size: 59.583px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 12.32px;
                border: 0.77px solid rgba(0, 0, 0, 0.40);
                background: #FFF;
                @media(max-height: 770px) {
                    height: 45px;
                    font-size: 30px;
                }
                @media(max-width: 860px) {
                    font-size: 25px;
                    height: 30px;
                    max-width: 100px;
                    border-radius: 8px;
                }
            }
        }

        .cart__price {
            margin-top: 33px;
            color: #000;
            text-align: center;
            font-family: 'neskid';
            font-size: 54.766px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media(max-width: 860px) {
                font-size: 40px;
                margin-top: 0;
            }
        }

        .cart__button {
            margin-top: 61px;
            width: 351.386px;
            height: 94.874px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            color: #FFF;
            text-shadow: 2.301057815551758px 4.141904354095459px 1.840846300125122px rgba(0, 0, 0, 0.25);
            font-family: 'neskid';
            font-size: 52.708px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            border-radius: 84.333px;
            background: #F09;
            box-shadow: 0px -27.23241px 72.91258px 0px rgba(0, 0, 0, 0.20) inset;
            margin-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: -50px;
            @media(max-width: 860px) {
                width: 200.386px;
                height: 50.874px;
                font-size: 25px;
                margin-top: 0;
            }
        }
    }
}

html/* override x.xhtml.ru style */ 
{
  scrollbar-width: thin;
  scrollbar-color: white rgba(255, 0, 184, 0.41);
}

html::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
html::-webkit-scrollbar-track {
  background: rgba(255, 0, 184, 0.41);
}
html::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(255, 0, 184, 0.41);
}


.none {
    display: none !important;   
}

.svg-loader{
    display:flex;
    position: relative;
    align-content: space-around;
    justify-content: center;
  }
  .loader-svg{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: #F09;
  }
  .loader-svg.bg{
    stroke-width: 8px;
    stroke: rgb(207, 205, 245);
  }

  .animate{
    stroke-dasharray: 242.6;
    animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
  }
  
  @keyframes fill-animation{
    0%{
      stroke-dasharray: 40 242.6;
      stroke-dashoffset: 0;
    }
    50%{
      stroke-dasharray: 141.3;
      stroke-dashoffset: 141.3;
    }
    100%{
      stroke-dasharray: 40 242.6;
      stroke-dashoffset: 282.6;
    }
  }

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: wheat;
    height: 100vh;
    width: 100vw;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .loader__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .loader__title {
        animation: loader-title 1s cubic-bezier(1,1,1,1) 0s infinite;
        transition: all 0.5s;
        font-size: 40px;
        font-family: 'neskid';
    }
}

@keyframes loader-title{
    0%{
      color: yellow;
    }
    50%{
        color: red;
    }
    100%{
        color: green($color: #000000);
    }
  }

input.warning {
    border-color: red !important;
}